@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Yellowtail&display=swap');

* {
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.start {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
        url("../images/MainBackgroundPersonalContacts.jpg");
    background-size: cover;
    height: 0px;
    background-position: center center;
    color: #fff;
}

.start .section-container {
    max-width: 20000px;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}

.start .section-container header {
    padding: 15px;
}

/* Menu ---------------------------------------------------------------------------------------------------*/
.start .section-container header nav {
    width: 110px;
    position: fixed;
    margin-left: 60px;
    background-color: #940253;
    padding: 30px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
    display: none;
}

.start .section-container header nav a {
    display: block;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
    transition: .3s;
}

.start .section-container header nav a:hover {
    display: block;
    color: rgb(150, 150, 152);
    font-size: 21px;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
    transition: .3s;
}

/* *********** */
.start .section-container header .logo {
    font-weight: bold;
    font-size: 2rem;
    font-family: "Yellowtail";
    text-shadow: 0 0 35px #fff;
}

.start .section-container header .logo .icon-logo {
    max-width: 100%;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 50px;
}


.start .section-container header .logo .color {
    color: #940253;
    font-family: "Yellowtail";
}

.start .section-container header .nav-bar {
    position: fixed;
    background-color: #940253;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    transition: .3s;
    font-size: 15px;
}

.start .section-container header .nav-bar:hover {
    box-shadow: 0 0 35px #fff;
    width: 55px;
    height: 55px;
}

.start .section-container .info .networks a {
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #940253;
    border: 1px solid #940253;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    transition: .3s;
}

.start .section-container .info .networks a:hover {
    color: #fff;
    background-color: #940253;
    box-shadow: 0 0 20px #fff;
}

.start .section-container .picture {
    position: relative;
}

/*Section title ------------------------------------------------------------------------------------------------------*/

.title-section {
    font-family: "Yellowtail";
    font-size: 1.5rem;
}

/*Section about me ---------------------------------------------------------------------------------------------------*/

.Co-WorkersContacts {
    background-color: #e6e6e6;
    padding: 20px 0 20px 0;
    text-align: center;
}

.Co-WorkersContacts .section-container {
    max-width: 1000px;
    height: 450px;
    margin: auto;
    padding: 0 10px;
}

.Co-WorkersContacts .section-container h3 {
    text-transform: uppercase;
    font-size: 20px;
    margin: 0px 80px;
}

.Co-WorkersContacts .section-container .special {
    color: #940253;
    font-weight: bold;
    margin-top: 15px;
}

.Co-WorkersContacts .section-container p {
    max-width: 1200px;
    margin: auto;
    color: #777;
}

.Co-WorkersContacts .section-container .row {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.Co-WorkersContacts .section-container .row .col {
    width: 70%;
}

.Co-WorkersContacts .section-container .row .col i {
    color: #940253;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #940253;
    line-height: 40px;
    border-radius: 50%;
}

.Co-WorkersContacts .section-container .row .col span {
    display: block;
    font-weight: bold;
    margin: 8px 0;
}

.Co-WorkersContacts .section-container .MadeBy {
    margin-top: 80px;
}

@media screen and (max-width:950px) {
    .Co-WorkersContacts .section-container {
        max-width: 1000px;
        height: 550px;
        margin: auto;
        padding: 0 25px;
    }

    .start .section-container {
        max-width: 2000px;
        margin: auto;
        text-align: center;
        padding: 0 10px;
    }

    .start .section-container header .nav-bar {
        position: fixed;
        background-color: #940253;
        font-size: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        line-height: 50px;
        cursor: pointer;
        transition: .3s;
        font-size: 15px;
    }
}