@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Yellowtail&display=swap');

* {
  font-family: "Titillium Web";
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  zoom: 100%;
}

/* section start ---------------------------------------------------------------------------------------------------*/
.start {
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
    url("../images/info_Technology.jpg");
  background-size: cover;
  background-position: center center;
  color: #fff;
}

.start {
  animation-duration: 2s;
  animation-name: slide-in;
  animation-iteration-count: 1;
  animation-direction: initial;
}

@keyframes slide-in {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.start .section-container {
  max-width: 20000px;
  margin: auto;
  text-align: center;
  padding: 0px 10px;
}

.start .section-container header {
  padding: 15px;
}

/* Menu ---------------------------------------------------------------------------------------------------*/
.start .section-container header nav {
  width: 110px;
  position: fixed;
  margin-left: 58px;
  background-color: #940252d5;
  padding: 30px;
  border-radius: 10px;
  text-align: left;
  z-index: 99;
  display: none;
}

.start .section-container header nav a {
  display: block;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: bold;
  transition: .3s;
}

.start .section-container header nav a:hover {
  display: block;
  color: rgb(150, 150, 152);
  font-size: 21px;
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: bold;
  transition: .3s;
}

/* *********** */
.start .section-container header .logo {
  font-weight: bold;
  font-size: 2rem;
  font-family: "Yellowtail";
  text-shadow: 0 0 35px #fff;
}

.start .section-container header .logo .icon-logo {
  max-width: 100%;
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 50px;
}


.start .section-container header .logo .color {
  color: #940253;
  font-family: "Yellowtail";
}

.start .section-container header .nav-bar {
  position: fixed;
  background-color: #940253d5;
  background-image: url(../Icons/MenuHamburguesa.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  cursor: pointer;
  transition: .3s;
  font-size: 15px;
  background-image:("../Icons/MenuHamburguesa.png");

}

.start .section-container header .nav-bar:hover {
  box-shadow: 0 0 35px #fff;
  width: 55px;
  height: 55px;
}

.start .section-container .info {
  padding-bottom: 130px;
}

.lineStartName {
  position: relative;
  font-family: monospace;
  font-size: 240%;
  font-weight: bold;
  border-right: 2px solid rgba(255, 255, 255, .75);
  top: 50%;
  width: 24em;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  letter-spacing: 4px;
}

/* Animation StartMainName*/
.anim-typewriterStartName {
  animation: typewriter 4s steps(16) 2s 1 normal both,
    blinkTextCursor .5s steps(16) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 16em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }

  to {
    border-right-color: transparent;
  }
}

.start .section-container .info h2 {
  font-weight: normal;
  font-size: 20px;
  margin-top: -10px;
  letter-spacing: 2px;
}

.start .section-container .info .networks {
  margin: 20px 0;
}

.start .section-container .info .networks a {
  display: inline-block;
  text-decoration: none;
  background-color: #000;
  color: #940253;
  border: 1px solid #940253;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 5px;
  transition: .3s;
}

.start .section-container .info .networks a:hover {
  color: #fff;
  background-color: #940253;
  box-shadow: 0 0 20px #fff;
}

.start .section-container .picture {
  position: relative;
}

.start .section-container .picture img {
  max-width: 200px;
  border-radius: 50%;
  border: 5px solid #940253;
  position: absolute;
  left: 50%;
  top: -100px;
  transform: translateX(-50%);
}

/*general styles ---------------------------------------------------------------------------------------------------*/
.title-section {
  font-family: "Yellowtail";
  font-size: 1.5rem;
}

/*Section about me ---------------------------------------------------------------------------------------------------*/

.aboutme {
  background-color: #e6e6e6;
  padding: 140px 0 100px 0;
  text-align: center;
}

.aboutme .section-container {
  max-width: 1500px;
  margin: auto;
  padding: 0 10px;
}

.aboutme .section-container h3 {
  text-transform: uppercase;
  font-size: 30px;
}

.aboutme .section-container .special {
  color: #940253;
  font-weight: bold;
  margin-top: 15px;
}

.aboutme .section-container p {
  max-width: 1200px;
  margin: auto;
  color: #777;
}

.aboutme .section-container .row {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.aboutme .section-container .row .col {
  width: 70%;
}

.aboutme .section-container .row .col i {
  color: #940253;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid #940253;
  line-height: 40px;
  border-radius: 50%;
}

.aboutme .section-container .row .col span {
  display: block;
  font-weight: bold;
  margin: 8px 0;
}

/*Section Knowledge ---------------------------------------------------------------------------------------------------*/
.knowledge {
  padding: 80px 0 100px 0;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
    url('../images/Knowledge.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  color: #fff;
}

.knowledge {
  background-color: #e6e6e6;
  padding: 100px 0 100px 0;
  text-align: center;
}

.knowledge .section-container {
  max-width: 1500px;
  margin: auto;
  padding: 0 10px 0 10px;
}

.knowledge .section-container h3 {
  text-transform: uppercase;
  font-size: 30px;
}

.knowledge .section-container .special {
  color: #e3dede;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 15px;
}

.knowledge .section-container .info {
  text-align: left;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.knowledge .section-container .info .col {
  width: 60%;
  padding: 0 50px 50px 50px;
  background-color: #00000030;
  border-radius: 15px 15px 15px 15px;
}

.knowledge .section-container .info .col table {
  margin-top: 50px;
}

.knowledge .section-container .info .col table tr {
  margin: 5px;
  border-bottom: 1px solid #bab9b9;
}

.knowledge .section-container .info .col table .titleHeader {
  max-width: 1500px;
  margin-bottom: 1px;
}

.knowledge .section-container .info .col table th {
  border-bottom: 5px solid #bab9b9;
  height: 5px;
  font-weight: bold;
  font-size: 25px;
}

.knowledge .section-container .info .col table ul {
  list-style-type: '✓';
}

.knowledge .section-container .info .col table ul li {
  font-size: 20px;
}

.knowledge .section-container .info .col table ul li p {
  margin-left: 5px;
}

.knowledge .section-container .info .col table ul li::marker {
  font-size: 20px;
  font-weight: bold;
  padding-right: 2;
  color: aquamarine;
}

.knowledge .section-container .info .col table tr td {
  font-size: 20px;
  padding-top: 10px;
}

.separate{
  margin-left: 10px;
}
.separatePoint{
  margin-left: 5px;
}

.knowledge .section-container .info .col table tr th {
  font-size: 25px;
  padding: 30px 10px 5px 10px;
  border-radius: 15px 15px 0px 0px;
}

.knowledge .section-container .info .col table tr td ul .contentList {
  margin-top: 10px;
}

.knowledge .section-container .info .col table tr .contentList {
  margin-top: 10px;
}

.databaseSection {
  list-style: circle;
  padding-left: 5px;
}

/*Columns point details ---------------------------------------------------------------------------------------------------*/
.infoPoints {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.infoPoints .infoPointsCol {
  width: 60%;
  padding-left: 10px;
}

/*Section Summary ---------------------------------------------------------------------------------------------------*/
.summary {
  background-color: #e6e6e6;
  padding: 100px 0 100px 0;
  text-align: center;
}

.summary .section-container {
  max-width: 1100px;
  margin: auto;
  padding: 0 10px 0 10px;
}

.summary .section-container h3 {
  text-transform: uppercase;
  font-size: 30px;
}

.summary .section-container .info {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.summary .section-container .info .col {
  width: 60%;
  padding-left: 30px;
}

.summary .section-container .info .col .title {
  display: flex;
  justify-content: center;
  color: #940253;
  font-weight: bold;
  border: 2px solid #940253;
  border-radius: 15px;
  padding: 10px;
  margin: 60px 150px 30px 113px;
}

.summary .section-container .info .col table {
  margin-top: 30px;
  border-collapse: collapse;
}

.summary .section-container .info .col table .data {
  width: 73%;
  border-bottom: 1px solid #bab9b9;
}

.summary .section-container .info .col table h4 {
  margin-top: 10px;
}

.summary .section-container .info .col table h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.summary .section-container .info .col table p {
  font-size: 14px;
  margin-top: 10px;
}

.summary .section-container .info .col table .institution {
  display: block;
  color: #940253;
  margin-top: 0px;
  font-weight: bold;
}

.summary .section-container .info .col table .description {
  border-left: 1px solid #bab9b9;
  padding-left: 20px;
  font-size: 14px;
}

.summary .section-container .info .col table .description .viewImage {
  width: 80px;
  display: flex;
  justify-content: center;
}

.summary .section-container .info .col table .description a {
  width: 100%;
  border: 1px solid #bab9b9;
  padding: 2px 4px 2px 4px;
  border-radius: 15%;
  background-color: #940253;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.summary .section-container .info .col table .description a:hover {
  width: 105%;
  border: 1px solid #a5a4a4;
  padding: 4px 8px 4px 8px;
  border-radius: 15%;
  background-color: #940253;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.summary .section-container .info .col table .description .viewImage:hover {
  width: 85px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 15px #877575;
}

/*Section skills ---------------------------------------------------------------------------------------------------*/
.skills {
  padding: 80px 0 100px 0;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
    url('../images/Skills.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  color: #fff;
}

.skills .section-container {
  max-width: 1000px;
  margin: auto;
  padding: 0 10px;
}

.skills .section-container h3 {
  text-transform: uppercase;
  font-size: 30px;
}

.skills .section-container .row {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.skills .section-container .row col {
  width: 47%;
  text-align: center;
}

.skills .section-container .row col .cont-bar {
  display: flex;
  align-items: center;
}

.skills .section-container .bar {
  display: flex;
  justify-content: center;
  border: 1px solid #940253;
  padding: 2px;
  border-radius: 3px;
  margin: 10px;
}

.skills .section-container .bar .e {
  background-color: #363636;
  width: 20px;
  height: 30px;
  margin-right: 2px;
}


/*Section contact ---------------------------------------------------------------------------------------------------*/
.contact {
  background-color: #131313;
  padding: 55px 0 100px 0;
  color: #e6e6e6;
  text-align: center;
}

.contact .section-container {
  max-width: 1000px;
  margin: auto;
  padding: 0 10px;
}

.contact .section-container h3 {
  text-transform: uppercase;
  font-size: 30px;
}

.contact .section-container .title-contact {
  margin-top: 50px;
  color: #fff;
  font-family: "Yellowtail";
}

.contact .section-container .row {
  display: flex;
  justify-content: space-around;
}

.contact .section-container .row .col {
  margin-top: 50px;
}

.contact .section-container .row .col h2 {
  color: #940253;
}

.contact .section-container .row .col span {
  color: #fff;
  font-size: 20px;
}

.contact .section-container .row .col span a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.contact .section-container .row .col span a:hover {
  color: rgb(150, 150, 152);
  ;
  font-size: 21px;
  text-decoration: none;
}

.contact .section-container .MadeBy {
  margin-top: 80px;
}






















/*--------------------------------------------*/
/*************     Responsive     *************/
/*--------------------------------------------*/



/*Section responsive ---------------------------------------------------------------------------------------------------*/
@media screen and (max-width:950px) {

  .start .section-container header nav {
    position: fixed;
    margin-left: 15%;
    background-color: #940253d5;
    padding: 7%;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
    display: none;
    opacity: 90%;
  }

  /*menu items ---------------------------------------------------------------------------------------------------*/
  .start .section-container header nav a {
    display: block;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
  }

  /*hover menu items ---------------------------------------------------------------------------------------------------*/
  .start .section-container header nav a:hover {
    display: block;
    color: blue;
    font-size: 25px;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
  }

  /*Background ---------------------------------------------------------------------------------------------------*/
  .start .section-container header .nav-bar {
    position: fixed;
    background-color: #940253d5;
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    transition: .3s;
    font-size: 15px;
  }

  .start .section-container header .nav-bar:hover {
    box-shadow: 0 0 0px #ffffff00;
    width: 50px;
    height: 50px;
  }



  .lineStartName {
    position: relative;
    font-family: monospace;
    font-size: 150%;
    font-weight: bold;
    border-right: 2px solid rgba(255, 255, 255, .75);
    top: 50%;
    width: 24em;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    letter-spacing: 2px;

  }

  /* Animation StartMainName Mobile*/
  .anim-typewriterStartName {
    animation: typewriter 4s steps(16) 2s 1 normal both,
      blinkTextCursor .5s steps(16) infinite normal;
  }

  .start .section-container .info h2 {
    font-weight: normal;
    height: 100px;
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 2px;
  }

  .aboutme .section-container .special {
    color: #940253;
    font-weight: bold;
    margin: 10px;
    font-size: 14px;
  }

  .aboutme .section-container {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
  }

  .aboutme .section-container .row {
    display: block;
  }

  .aboutme .section-container .row .col {
    width: 80%;
    margin: auto;
    margin-top: 20px;
  }

  .aboutme .section-container h3 {
    text-transform: uppercase;
    font-size: 20px;
  }

  .aboutme .section-container p {
    max-width: 700px;
    margin: 10px;
    color: #777;
    font-size: 14px;
  }

  .summary .section-container .info {
    display: block;
    margin: auto;
  }

  .summary .section-container .info .col {
    width: 90%;
    margin: auto;
  }

  .summary .section-container .info .col .title {
    display: block;
    text-align: center;
    margin: 60px 35px 30px 35px;
    border-radius: 15px;
  }

  .summary .section-container .info .col table {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .summary .section-container .info .col table .data {
    width: 70%;
    border-bottom: 1px solid #bab9b9;
  }

  .summary .section-container .info .col table h3 {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .summary .section-container .info .col table h4 {
    margin-top: 10px;
    font-size: 15px;
  }

  .summary .section-container .info .col table .description {
    border-left: 1px solid #bab9b9;
    padding-left: 20px;
    font-size: 14px;
    text-align: center;
  }

  .summary .section-container .info .col table p {
    font-size: 14px;
    margin-top: 10px;
  }

  .summary .section-container .info .col table .institution {
    display: block;
    color: #940253;
    margin-top: 0px;
    font-weight: bold;
    font-size: 14px;
  }

  .summary .section-container h3 {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .summary .section-container .info .col table .data {
    width: 70%;
    border-bottom: 1px solid #bab9b9;
  }

  .summary .section-container .info .col table .description a {
    border: 1px solid #bab9b9;
    padding: 1px 2px 1px 2px;
    border-radius: 10%;
    background-color: #940253;
    color: #fff;
  }

  .summary .section-container .info .col table .description a:hover {
    border: 1px solid #bab9b9;
    padding: 1px 2px 1px 2px;
    border-radius: 10%;
    background-color: blue;
    color: #fff;
  }

  .summary .section-container .info .col {
    width: 70%;
    margin-left: 20px;
  }

  .skills .section-container h3 {
    text-transform: uppercase;
    font-size: 20px;
  }

  .skills .section-container .row {
    display: block;
  }

  .skills .section-container .row .col {
    width: 100%;
    text-align: center;
  }

  .skills .section-container .row .col .cont-bar {
    justify-content: center;
  }

  .skills .section-container .bar {
    display: inline-flex;
    justify-content: center;
    border: 1px solid #940253;
    padding: 2px;
    border-radius: 3px;
    margin: 8px;
  }

  .skills .section-container .bar .e {
    background-color: #363636;
    width: 15px;
    height: 20px;
    margin-right: 1px;
  }

  .contact .section-container .row {
    display: block;
  }

  .contact .section-container h3 {
    text-transform: uppercase;
    font-size: 20px;
  }

  .contact .section-container .row .col h2 {
    color: #940253;
    font-size: 20px;
  }

  .contact .section-container .row .col span {
    color: #fff;
    font-size: 15px;
  }

  .contact .section-container .row .col span a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
  }

  .knowledge .section-container .info .col {
    width: 90%;
    padding-left: 10px;
  }

  .knowledge .section-container h3 {
    text-transform: uppercase;
    font-size: 25px;
  }

  .knowledge .section-container .special {
    color: #e3dede;
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;
  }

  .knowledge .section-container .info {
    text-align: left;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .knowledge .section-container .info .col table {
    margin-top: 10px;
  }

  .knowledge .section-container .info .col table tr {
    margin: 5px;
    border-bottom: 1px solid #bab9b9;
  }

  .knowledge .section-container .info .col table .titleHeader {
    max-width: 1500px;
    margin-bottom: 1px;
  }

  .knowledge .section-container .info .col table th {
    border-bottom: 5px solid #bab9b9;
    height: 5px;
    font-weight: bold;
    font-size: 25px;
  }

  .knowledge .section-container .info .col table ul {
    list-style-type: '✓';
  }

  .knowledge .section-container .info .col table ul li {
    font-size: 15px;
  }

  .knowledge .section-container .info .col table ul li p {
    margin-left: 5px;
  }

  .knowledge .section-container .info .col table ul li::marker {
    font-size: 15px;
    font-weight: bold;
    padding-right: 2;
    color: aquamarine;
  }

  .knowledge .section-container .info .col table tr td {
    font-size: 15px;
    padding-top: 10px;
  }

  .knowledge .section-container .info .col table tr th {
    font-size: 20px;
    padding: 30px 0px 0px 0px;
  }

  .knowledge .section-container .info .col {
    width: 90%;
    padding: 0 20px 20px 20px;
    background-color: #00000030;
    border-radius: 15px 15px 15px 15px;
  }
}































